# Files
.build-harness
.build-harness-bootstrap
OPENSOURCE.check
.vscode
build/bin/selfdestruct
cover.html
*.out
*.tap
*.test
.DS_Store
kind_kubeconfig.yaml

# Folders
.build-docker
build/_output
build-harness
build-harness-extensions
vendor

!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions