export GITHUB_USER=
export GITHUB_TOKEN=
export ARTIFACTORY_KEY=
export DOCKER_REGISTRY=hyc-cloud-private-scratch-docker-local.artifactory.swg-devops.com

echo "Enter your IBM Intranet Password:"
read -s PASSWD_INPUT
export TF_VAR_password=$PASSWD_INPUT

export TF_VAR_user_name=$GITHUB_USER
export ARTIFACTORY_USER=$GITHUB_USER
export DOCKER_USER=$GITHUB_USER
export DOCKER_PASS=$ARTIFACTORY_KEY