name: Tests

on:
  push:
    branches: [ main, release-* ]
  pull_request:
    branches: [ main, release-* ]

jobs:
  main:
    runs-on: ubuntu-latest
    name: Functional tests
    steps:
    - name: Checkout Klusterlet Addon Controller
      uses: actions/checkout@v2

    - name: Set up Go 
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    
    - name: Run functional tests
      run: make functional-test-full
    
    - name: Logs after Tests Failed
      if:  ${{ failure() }}
      run: KUBECONFIG=kind_kubeconfig.yaml kubectl logs  -n open-cluster-management `KUBECONFIG=kind_kubeconfig.yaml kubectl get po -n open-cluster-management -oname | grep klusterlet-addon-controller`
