name: Go

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
      - release-*

env:
  # Common versions
  GO_VERSION: '1.16'
  GO_REQUIRED_MIN_VERSION: ''
  GOPATH: '/home/runner/work/klusterlet-addon-controller/klusterlet-addon-controller/go'
defaults:
  run:
    working-directory: go/src/github.com/open-cluster-management/klusterlet-addon-controller

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/klusterlet-addon-controller
      - name: install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: build
        run: make build
  
  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/klusterlet-addon-controller
      - name: install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: unit
        run: make test

  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/klusterlet-addon-controller
      - name: install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.1
      - name: images
        run: make build-image
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          config: go/src/github.com/open-cluster-management/klusterlet-addon-controller/build/e2e/kind-config.yaml
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=kind quay.io/open-cluster-management/klusterlet-addon-controller:latest
      - name: Run e2e test
        run: |
          make test-e2e
        env:
          KUBECONFIG: /home/runner/.kube/config